<div class="m-4" style="text-align:center">
    <!-- card -->
    <div class="card bg-success text-white">
        <div class="card-body">
            <h5 class="card-title border-bottom border-white border-bold text-left pb-3 mb-5">我的健保卡
            </h5>
            <div class="card-text pt-5">
                <small class="float-left">A123456789B</small>
                <small class="float-right">Health ID Card</small>
            </div>
        </div>
    </div>

    <!-- code -->
    <div class="mt-4">
        <img src="../assets/qrcode.png" alt="" class="img-fluid border">
    </div>
        <div class="mt-4">
            <img src="../assets/codabar.jpg" alt="" class="img-fluid middle-width">
    </div>
</div>